## Pandas : Getting started
pandas is a very popular data processing library and makes working with datasets very easy

In [5]:
import pandas as pd

### Read csv file data

In [6]:
data = pd.read_csv("weather.csv")
# Print the data. Here data is a dataframe, a data structure defined in pandas
data

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0,0.00,0.0,0.0
1,2-1-2016,40,32,36.0,0.00,0.0,0.0
2,3-1-2016,45,35,40.0,0.00,0.0,0.0
3,4-1-2016,36,14,25.0,0.00,0.0,0.0
4,5-1-2016,29,11,20.0,0.00,0.0,0.0
5,6-1-2016,41,25,33.0,0.00,0.0,0.0
6,7-1-2016,46,31,38.5,0.00,0.0,0.0
7,8-1-2016,46,31,38.5,0.00,0.0,0.0
8,9-1-2016,47,40,43.5,0.00,0.0,0.0
9,10-1-2016,59,40,49.5,1.80,0.0,0.0
10,11-1-2016,40,26,33.0,0.00,0.0,0.0
11,12-1-2016,44,25,34.5,0.00,0.0,0.0
12,13-1-2016,30,22,26.0,0.00,0.0,0.0
13,14-1-2016,38,22,30.0,0.00,0.0,0.0
14,15-1-2016,51,34,42.5,0.00,0.0,0.0
15,16-1-2016,52,42,47.0,0.24,0.0,0.0
16,17-1-2016,42,30,36.0,0.05,0.4,0.0
17,18-1-2016,31,18,24.5,0.00,0.0,0.0
18,19-1-2016,28,16,22.0,0.00,0.0,0.0

In [7]:
# Fetch columns by name and perform operations
data["maximum temperature"]

0     42
1     40
2     45
3     36
4     29
5     41
6     46
7     46
8     47
9     59
10    40
11    44
12    30
13    38
14    51
15    52
16    42
17    31
18    28
Name: maximum temperature, dtype: int64

In [19]:
# Maximum among these values
print("Maximum temp :",data["maximum temperature"].max())
# Mean values
print("Mean of avg temp :",data["average temperature"].mean())
# Fetch dates where avg temp > 35
data["date"][data["average temperature"] > 35.0]

Maximum temp : 59
Mean of avg temp : 34.60526315789474

0     1-1-2016
1     2-1-2016
2     3-1-2016
6     7-1-2016
7     8-1-2016
8     9-1-2016
9     10-1-2016
14    15-1-2016
15    16-1-2016
16    17-1-2016
Name: date, dtype: object

### Iterate over the DataFrame

In [8]:
for label, row in data.iterrows():
    print(label,"  ",row["date"],"  ",row['maximum temperature'])

0    1-1-2016     42
1    2-1-2016     40
2    3-1-2016     45
3    4-1-2016     36
4    5-1-2016     29
5    6-1-2016     41
6    7-1-2016     46
7    8-1-2016     46
8    9-1-2016     47
9    10-1-2016    59
10    11-1-2016    40
11    12-1-2016    44
12    13-1-2016    30
13    14-1-2016    38
14    15-1-2016    51
15    16-1-2016    52
16    17-1-2016    42
17    18-1-2016    31
18    19-1-2016    28

### Add a new column

In [9]:
# Using iterrows
# for lab, row in data.iterrows():
#     data.loc[lab,'double_Avg'] = data['average temperature'] * 2

# using apply
data['avg_float'] = data['average temperature'].apply(abs)
data

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,avg_float
0,1-1-2016,42,34,38.0,0.00,0.0,0.0,38.0
1,2-1-2016,40,32,36.0,0.00,0.0,0.0,36.0
2,3-1-2016,45,35,40.0,0.00,0.0,0.0,40.0
3,4-1-2016,36,14,25.0,0.00,0.0,0.0,25.0
4,5-1-2016,29,11,20.0,0.00,0.0,0.0,20.0
5,6-1-2016,41,25,33.0,0.00,0.0,0.0,33.0
6,7-1-2016,46,31,38.5,0.00,0.0,0.0,38.5
7,8-1-2016,46,31,38.5,0.00,0.0,0.0,38.5
8,9-1-2016,47,40,43.5,0.00,0.0,0.0,43.5
9,10-1-2016,59,40,49.5,1.80,0.0,0.0,49.5
10,11-1-2016,40,26,33.0,0.00,0.0,0.0,33.0
11,12-1-2016,44,25,34.5,0.00,0.0,0.0,34.5
12,13-1-2016,30,22,26.0,0.00,0.0,0.0,26.0
13,14-1-2016,38,22,30.0,0.00,0.0,0.0,30.0
14,15-1-2016,51,34,42.5,0.00,0.0,0.0,42.5
15,16-1-2016,52,42,47.0,0.24,0.0,0.0,47.0
16,17-1-2016,42,30,36.0,0.05,0.4,0.0,36.0
17,18-1-2016,31,18,24.5,0.00,0.0,0.0,24.5
18,19-1-2016,28,16,22.0,0.00,0.0,0.0,22.0