## Read and manipulate data from MS Excel (xls, xlsx)
package needed - pandas, xlrd

In [20]:
import pandas as pd

# Read from excel file
df = pd.read_excel("Weather.xlsx")
df

        date  min_temp  max_temp  avg_temp city
0 2019-05-06        28        42        36  nyc
1 2019-05-07        25        38        33  nyc
2 2019-05-08        27        36        32   wc
3 2019-05-09        22        38        29  nyc
4 2019-05-10        24        37        36   wc

### Convert xlsx to csv

In [17]:
# With index 
df.to_csv("weather_wid.csv")

# Without index
df.to_csv("weathear_woid.csv",index=False)

### Storing data to Excel format
package needed - openpyxl

In [31]:
import openpyxl

# Write to excel
df.to_excel("weather2.xlsx",sheet_name="weather")

### Group records by column values

In [27]:
df =pd.read_excel("Weather.xlsx")
# Group by city
# It creates a dataframe for each group
# Indices are preserved for each dataframe
city_grp = df.groupby("city")
city_grp

In [30]:
# Print records belonging to a group
for city,city_df in city_grp:
    print("\n",city)
    print(city_df)

 nyc
        date  min_temp  max_temp  avg_temp city
0 2019-05-06        28        42        36  nyc
1 2019-05-07        25        38        33  nyc
3 2019-05-09        22        38        29  nyc

 wc
        date  min_temp  max_temp  avg_temp city
2 2019-05-08        27        36        32   wc
4 2019-05-10        24        37        36   wc

In [35]:
# Get a particular group's records
nyc = city_grp.get_group("nyc")
wc = city_grp.get_group("wc")
nyc

        date  min_temp  max_temp  avg_temp city
0 2019-05-06        28        42        36  nyc
1 2019-05-07        25        38        33  nyc
3 2019-05-09        22        38        29  nyc

### Group operations

In [45]:
# Maximum avg temperature in each group
city_grp.max()

           date  min_temp  max_temp  avg_temp
city
nyc  2019-05-09        28        42        36
wc   2019-05-10        27        37        36

In [44]:
# Mean avg temp in each group
city_grp.mean()

      min_temp   max_temp   avg_temp
city
nyc       25.0  39.333333  32.666667
wc        25.5  36.500000  34.000000

In [48]:
# Median of avg temp in each group
city_grp.median()

      min_temp  max_temp  avg_temp
city
nyc       25.0      38.0      33.0
wc        25.5      36.5      34.0

### Describe the group

In [49]:
city_grp.describe()

     min_temp                                                max_temp  \
        count  mean      std   min    25%   50%    75%   max    count
city
nyc       3.0  25.0  3.00000  22.0  23.50  25.0  26.50  28.0      3.0
wc        2.0  25.5  2.12132  24.0  24.75  25.5  26.25  27.0      2.0

                 ...              avg_temp                                   \
           mean  ...    75%   max    count       mean       std   min   25%
city             ...
nyc   39.333333  ...  40.00  42.0      3.0  32.666667  3.511885  29.0  31.0
wc    36.500000  ...  36.75  37.0      2.0  34.000000  2.828427  32.0  33.0


       50%   75%   max
city
nyc   33.0  34.5  36.0
wc    34.0  35.0  36.0

[2 rows x 24 columns]