## Custom indexing in dataframes
Whenever we create a dataframe straight from the data source and without specify what index to use pandas automatically assigns index values to records starting from 0

In [1]:
import pandas as pd

# Simple data frame with default indexing 
df = pd.DataFrame([1,2,3,4,5,6,7,8,9,0])
df

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9
9  0

In [4]:
# Custom index values for the records
df = pd.DataFrame([1,2,3,4,5,6,7,8,9,0],index=[13,52,41,26,23,79,7,14,97,8])
df

    0
13  1
52  2
41  3
26  4
23  5
79  6
7   7
14  8
97  9
8   0

### loc vs iloc
loc : location, iloc : index location

In [5]:
# loc example: loc uses the index value to fetch the corresponding record value
df.loc[14]

0    8
Name: 14, dtype: int64